*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    line-height: 1.5;
}

img{
    width: 100%;
}

h1{
    font-size: 5rem;
    text-align: center;
    font-weight: 900;
    color: hotpink;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100hv;
}

.img__container{
    flex-shrink: 1;
    max-width: 600px;
}

.carrot{
    transition: all ease-in 3s;
}

.carrot:hover{
    transform: rotateZ(360deg);
}